#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  &.dark {
    background: #1c1e1f;

    aside {
      background: #270295;
    }

    .main-content {
      form {
        input {
          background: #181a1b;
          border-color: var(--color-primary);
          color: var(--text-white);
        }
      }

      ::-webkit-input-placeholder {
        color: var(--text-white);
      }

      p {
        color: var(--text-white);
      }

      h2 {
        color: var(--text-white);
      }

      .separator {
        color: var(--text-white);
      }
    }
  }

  aside {
    flex: 7;
    background: var(--color-primary);
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.625rem;
      margin-top: 16px;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    .toggle {
      margin-bottom: 20px;
    }

    > img {
      align-items: center;
    }

    .info-user {
      img {
        width: 80px;
        height: 80px;
        margin-top: 25px;
        border-radius: 50%;
      }
    }

    h2 {
      font-size: 1.5rem;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 0px;
        padding: 0 16px;
        background: var(--text-white);
        border: 1px solid #a8a8a8;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 0.875rem;
      color: var(--text-color-secondary);
      margin-top: 16px;

      a {
        color: var(--color-secondary);
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #ea4335;
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .create-room-google {
    margin-top: 50px;
    background: #ea4335;
  }

  .create-room-github {
    margin-top: 10px;
    background: #050505;

    &:hover {
      filter: brightness(1.5);
    }
  }

  .separator {
    font-size: 0.875rem;
    color: #a8a8a8;
    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8a8;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8a8;
      margin-left: 16px;
    }
  }
}

@media screen and (max-width: 960px) {
  #page-auth {
    flex-direction: column;
    height: auto;

    aside {
      flex: 1;
      padding: 25px;

      img {
        display: none;
      }

      strong {
        font-size: 1.75rem;
        line-height: 2rem;
        text-align: center;
      }

      p {
        font-size: 1.3125rem;
        text-align: center;
      }
    }

    main {
      flex: 5;
      padding: 32px;
    }
  }
}

@media screen and (max-width: 520px) {
  #page-auth {
    flex-direction: column;
    height: auto;
    
    aside {
      padding: 20px 10px;

      strong {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.1875rem;
        line-height: 1.625rem;
      }
    }

    main {
      padding: 25px;
    }
  }
}

@media screen and (max-width: 320px) {
  #page-auth {
    flex-direction: column;
    height: auto;

    aside {
      padding: 15px 10px;

      strong {
        font-size: 1.25rem;
      }

      p {
        font-size: 1.125rem;
        margin-top: 10px;
      }
    }
  }
}