* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 1rem 'Roboto', sans-serif;
}

::-webkit-scrollbar-track {
  background: #7E7E86;
}

::-webkit-scrollbar {
  width: 6px;
  background: #7E7E86;
}

::-webkit-scrollbar-thumb {
  background: #835afd;
}

:root {
  --color-primary: #835afd;
  --color-secondary: #e559f9;
  --color-tertiary: #e73f5d;

  --text-white: #fff;
  --text-black: #000;
  --text-color-primary: #29292e;
  --text-color-secondary: #737380;

  --box-shadow: rgba(111, 75, 216, 0.5);
}