.empty-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  gap: 14px;

  button {
    border: none;
  }

  h3 {
    margin-top: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    color: var(--text-color-primary);
  }

  .link {
    font-size: medium;
    background: none;
    text-decoration: none;
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  h4 {
    font-size: 0.875rem;
    font-weight: 100;
    margin-top: 10px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1 solid #d7d7d7;
    border-top: 1px solid var(--text-white);
  }
}

.dark {
  .empty-question {
    p {
      color: var(--text-white);
    }

    span {
      color: var(--text-white);
    }

    h3 {
      color: var(--text-white);
    }
  }
}