.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--text-white);
  border: 1px solid var(--color-primary);
  cursor: pointer;
  display: flex;

  div {
    background: var(--color-primary);
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.dark {
  .room-code {
    background-color: #181a1b;
    border-color: var(--color-primary);

    div {
      background: var(--color-primary);
    }

    span {
      color: var(--text-white);
    }
  }
}