.container {
  background-color: #fefefe;
  box-shadow: 0 2px 12px rgba(111, 75, 216, 0.5);
  border-radius: 8px;
  padding: 24px;
  flex: 1,

  & + & {
    margin-top: 12px;
  }

  p {
    flex: 1;
    color: #29292e;
    text-align: justify;
    word-break: break-all;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #7e7e86;
        font-size: 13px;
      }
    }
  }
}

.dark {
  .container {
    background: #29292e;
    border: 1px solid #835afd;
  }

  p {
    color: #fff;
  }

  footer {
    .user-info {
      span {
        color: #fff;
      }
    }
  }
}